# Create Metadata CSV file

This notebook is used to create a .csv file including the metadata for all entries that need to be created for the Bühlot dataset.  
Rerun this script and recreate the .csv file if you know that IDs (e.g. of variables, authors, ...) have changed at the host machine.  

In an upload script, it is possible to just loop over the rows of the metadata .csv file and run `api.add_entry()` with the information in the file to create all necessary entries.  

Like this:
```python
# Add Bühlot entries
for i,e in df.iterrows():
        entry = api.add_entry(session, title=e.title, author=e.author_id, location=e.location, 
                              variable=e.variable_id, external_id=e.external_id, license=e.license_id, embargo=False)

        details = {k:v for k,v in e.to_dict().items() if k not in ['title', 'external_id', 'author_id','variable_id', 'license_id', 'location', 'comment']}
        api.add_details_to_entries(session, [entry], **details)

# Bühlot EntryGroup
entries = api.find_entry(session, title='Bühlot dataset*')
group = api.add_group(session, 'Project',
                      entry_ids=[e.id for e in entries],
                      title='Bühlot Dataset',
                      description='The Bühlot dataset is a collection of environmental measurements from the Bühlot.'
                      )
```

In [1]:
from metacatalog import api
import pandas as pd
from pyproj import Transformer
import glob

Create the database session

In [2]:
CONNECTION= 'v4w-host'
UPLOAD = True

In [3]:
session = api.connect_database(CONNECTION)
print(session.bind)

Engine(postgresql://postgres:***@localhost:5555/metacatalog-dev)

In [4]:
raw = pd.read_excel('data/Buhlot_meta_all.xlsx')
print(raw.shape)
raw.head()

(26, 15)

,ID_V4W,Name,Operator,ID_Buhlot,Area,"Easting [GK, m]","Northing [GK, m]",m.a.s.l [m],Variable Type,Units,Symbol,Unit_ID,Keyword_ID,Measuring device,Comments
0,A_1,Altschweier / Bühlot LUBW,LUBW,28.19.00_00_01,30.18,3437511.000,5395848.000,141.58,Discharge,[m³/s],Q,108,7327.0,Drucksonde Endress und Hauser Waterpilot FMX 165,Data 2013-2019 NaN free
1,A_2,Bühlertal Kindergarten / Bühlot,HZV,28.13.00_00_01,12.79,3440860.017,5393606.371,294.00,Discharge,[m³/s],Q,108,7327.0,Radarpegel Endress und Hauser Micropilot FMR 230V,Data 2013-2019 / 32% of NaN = 19914 NaN / HZV ...
2,A_3,Schwabenbrünnele / KIT,KIT,28.11.03.01_00_01,0.12,3442007.862,5389779.800,964.00,Water level,[cm above reference datum],L,2,NaN,OTT CTD,Data 2013-2019 / 30% of NaN = 18459 NaN / Tras...
3,A_4_1,baiersbronn-ruhestein,DWD,NaN,nn,3442700.000,5380700.000,916.00,Precipitation,[mm],P,103,6434.0,nn,Data 2013-2019 / 0.2% of NaN = 134 NaN
4,A_5_1,buehl_agramet,Agramet,NaN,nn,3435792.645,5392646.888,162.00,Precipitation,[mm],P,103,6434.0,nn,Data 2013-2019 / 2.4% of NaN = 1514 NaN

## Metadata

In [5]:
df = raw.copy()

### Owner / author

In [6]:
df.Operator.unique()

array(['LUBW', 'HZV', 'KIT', 'DWD', 'Agramet'], dtype=object)

In [7]:
# lubw: organisation
lubw = api.find_organisation(session, organisation_abbrev='LUBW', return_iterator=True).first()
if lubw is None and UPLOAD:
    lubw = api.add_organisation(session,
                                organisation_name='Landesanstalt für Umwelt Baden-Württemberg',
                                affiliation='LUBW Landesanstalt für Umwelt Baden-Württemberg, Karlsruhe, Germany.',
                                organisation_abbrev='LUBW'
                                )

# hzv: person
hzv = api.find_person(session, first_name='Viviane', last_name='Walzok', organisation_abbrev='HZV Bühl', return_iterator=True).first()
if hzv is None and UPLOAD:
    hzv = api.add_person(session, first_name='Viviane', last_name='Walzok',
                         organisation_name='Zweckverband Hochwasserschutz Raum Baden-Baden/Bühl',
                         affiliation='Zweckverband Hochwasserschutz, Bühl, Germany.',
                         organisation_abbrev='HZV Bühl'
                         )

# kit: person
kit = api.find_person(session, first_name='Uwe', last_name='Ehret',
                      organisation_name='Karlsruhe Institute of Technology (KIT)', return_iterator=True).first()
if kit is None and UPLOAD:
    kit = api.add_person(session, first_name='Uwe', last_name='Ehret',
                         organisation_name='Karlsruhe Institute of Technology',
                         affiliation='Institute of Water and River Basin Management, Karlsruhe Institute of Technology, Germany.',
                         organisation_abbrev='KIT'
                         )

# dwd: organisation
dwd = api.find_person(session, organisation_abbrev='DWD', return_iterator=True).first()
if dwd is None and UPLOAD:
    dwd = api.add_organisation(session,
                               organisation_name='Deutscher Wetterdienst',
                               affiliation='Deutscher Wetterdienst, Offenbach am Main, Germany.',
                               organisation_abbrev='DWD'
                               )

# agramet: person
agramet = api.find_person(session, first_name='Helge', last_name='de Boer', organisation_abbrev='LTZ', return_iterator=True).first()
if agramet is None and UPLOAD:
    agramet = api.add_person(session, first_name='Helge', last_name='de Boer',
                             organisation_name='Landwirtschaftliches Technologiezentrum Augustenberg',
                             affiliation='LTZ Landwirtschaftliches Technologiezentrum Augustenberg, Karlsruhe, Germany.',
                             organisation_abbrev='LTZ'
                             )

a_mapping = {
    'LUBW': lubw.id,
    'HZV': hzv.id,
    'KIT': kit.id,
    'DWD': dwd.id,
    'Agramet': agramet.id
}

df['author_id'] = df['Operator'].map(lambda v: a_mapping[v])

### Variables

In [8]:
df['Variable Type'].unique()

array(['Discharge', 'Water level', 'Precipitation', 'Temperature',
       'Relative Humidity', 'Global Radiation / Solar Irradiance',
       'Wind Speed', 'Snow Water Equivalent', 'Evapotranspiration',
       'Soil Moisture TETA', 'Ground Water Level'], dtype=object)

In [9]:
variables = api.find_variable(session)
for v in variables:
    print(v, v.symbol)

evapotranspiration [mm/d] <ID=19> ET
drainage [mm/d] <ID=20> D
air temperature [C] <ID=1> Ta
soil temperature [C] <ID=2> Ts
water temperature [C] <ID=3> Tw
discharge [m3/s] <ID=4> Q
air pressure [10^2*Pa] <ID=5> p
relative humidity [%] <ID=6> RH
daily rainfall sum [mm/d] <ID=7> P
rainfall intensity [mm/h] <ID=8> Pi
solar irradiance [W/m2] <ID=9> SI
net radiation [W/m2] <ID=10> Rn
gravimetric water content [kg/kg] <ID=11> u
volumetric water content [cm3/cm3] <ID=12> theta
precision [-] <ID=13> sigma
sap flow [cm^3/cm^2h] <ID=14> Fm
matric potential [MPa] <ID=15> phi
bulk electrical conductivity [mS/cm] <ID=16> bEC
specific electrical conductivity [mS/cm] <ID=17> sEC
river water level [m] <ID=18> L
3D-wind [m/s] <ID=10001> uvw
wind direction [deg] <ID=10002> dir
absolute humidity [g/cm3] <ID=10003> a
CO2 concentration [mmol/m3] <ID=10004> CO2
Eddy Covariance [-] <ID=10005> E
Integrated Water Vapor [kg*m^-2] <ID=10006> iwv
Weight [kg] <ID=10007> m
rainfall amount [kg] <ID=10008> P

In [10]:
for u in api.find_unit(session):
    print(u)

second <ID=1>
meter <ID=2>
kilogram <ID=3>
ampere <ID=4>
kelvin <ID=5>
mole <ID=6>
candela <ID=7>
radian <ID=8>
degree <ID=9>
hertz <ID=10>
newton <ID=11>
pascal <ID=12>
joule <ID=13>
watt <ID=14>
coulomb <ID=15>
volt <ID=16>
farad <ID=17>
ohm <ID=18>
siemens <ID=19>
lux <ID=20>
relative <ID=21>
mass flux density per hour <ID=22>
hour <ID=23>
degree Celsius <ID=101>
milimeter <ID=102>
mm per day <ID=103>
hectopascal <ID=104>
mm per hour <ID=105>
mm per second <ID=106>
meter per second <ID=107>
cubicmeter per second <ID=108>
liter per second <ID=109>
degree <ID=110>
percent <ID=112>
cm3/cm3 <ID=113>
kg/kg <ID=114>
watt per sqauaremeter <ID=115>
megapascal <ID=24>
g/cm3 <ID=116>
mmol/m3 <ID=117>
dimensionless <ID=118>
Kilogram per squaremeter <ID=119>
millisiemens per centimeter <ID=25>

In [11]:
# variables
var_discharge = api.find_variable(session, name='discharge', return_iterator=True).first()
if var_discharge is None and UPLOAD:
    var_discharge = api.add_variable(session, name='discharge', symbol='Q', column_names=['discharge'], unit=108, keyword=7327)

var_waterlevel = api.find_variable(session, name='river water level', return_iterator=True).first()
if var_waterlevel is None and UPLOAD:
    var_waterlevel = api.add_variable(session, name='river water level', symbol='L', column_names=['river water_level'], unit=120, keyword=7336)

var_precipitation =  api.find_variable(session, name='precipitation', return_iterator=True).first()
if var_precipitation is None and UPLOAD:
    var_precipitation = api.add_variable(session, name='precipitation', symbol='P', column_names=['precipitation'], unit=102, keyword=5274)

var_relative_humidity = api.find_variable(session, name='relative humidity', return_iterator=True).first()
if var_relative_humidity is None and UPLOAD:
    var_relative_humidity = api.add_variable(session, name='relative humidity', symbol='RH', column_names=['relative_humidity'], unit=112, keyword=6308)

var_global_radiation = api.find_variable(session, name='solar irradiance', return_iterator=True).first()
if var_global_radiation is None and UPLOAD:
    var_global_radiation = api.add_variable(session, name='solar irradiance', symbol='SI', column_names=['solar_irradiance'], unit=115, keyword=5236)

var_windspeed = api.find_variable(session, name='wind speed', return_iterator=True).first()
if var_windspeed is None and UPLOAD:
    var_windspeed = api.add_variable(session, name='wind speed', symbol='Ws', column_names=['wind_speed'], unit=107, keyword=6339)

var_soilmoisture = api.find_variable(session, name='volumetric water content', return_iterator=True).first()
if var_soilmoisture is None and UPLOAD:
    var_soilmoisture = api.add_variable(session, name='volumetric water content', symbol='theta', column_names=['volumetric_water_content'], unit=103, keyword=5727)

var_groundwaterlevel = api.find_variable(session, name='ground water level', return_iterator=True).first()
if var_groundwaterlevel is None and UPLOAD:
    var_groundwaterlevel = api.add_variable(session, name='ground water level', symbol='GWL', column_names=['ground_water_level'], unit=2, keyword=7892)

var_temperature = api.find_variable(session, name='air temperature', return_iterator=True).first()
if var_temperature is None and UPLOAD:
    var_temperature = api.add_variable(session, name='temperature', symbol='T', column_names=['temperature'], unit=101, keyword=111)

var_snowwaterequivalent = api.find_variable(session, name='snow water equivalent', return_iterator=True).first()
if var_snowwaterequivalent is None and UPLOAD:
    var_snowwaterequivalent = api.add_variable(session, name='snow water equivalent', symbol='SWE', column_names=['snow_water_equivalent'], unit=102, keyword=5278)

var_evapotranspiration = api.find_variable(session, name='evapotranspiration', return_iterator=True).first()
if var_evapotranspiration is None and UPLOAD:
    var_evapotranspiration = api.add_variable(session, name='evapotranspiration', symbol='ETP', column_names=['evapotranspiration'], unit=102, keyword=6319)
    
# variable mapping
v_mapping = {
    'Discharge': var_discharge.id,
    'Water level': var_waterlevel.id,
    'Precipitation': var_precipitation.id,
    'Relative Humidity': var_relative_humidity.id,
    'Global Radiation / Solar Irradiance': var_global_radiation.id,
    'Wind Speed': var_windspeed.id,
    'Soil Moisture TETA': var_soilmoisture.id,
    'Ground Water Level': var_groundwaterlevel.id,
    'Temperature': var_temperature.id,
    'Snow Water Equivalent': var_snowwaterequivalent.id,
    'Evapotranspiration': var_evapotranspiration.id
}

In [12]:
df['variable_id'] = df['Variable Type'].map(lambda v: v_mapping[v])

### Notes

* GWL in mm? -> transform to m
* water level in cm? -> transform to m
* rainfall unit ?

### Location

In [13]:
t = Transformer.from_crs('epsg:31467', 'epsg:4326')

In [14]:
df['location'] = ['SRID=4326;POINT (%f %f)' % t.transform(r[0], r[1]) for i, r in raw[['Easting [GK, m]', 'Northing [GK, m]']].iterrows()]

/tmp/ipykernel_63587/4032824020.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['location'] = ['SRID=4326;POINT (%f %f)' % t.transform(r[0], r[1]) for i, r in raw[['Easting [GK, m]', 'Northing [GK, m]']].iterrows()]

### License

In [15]:
license = api.find_license(session, short_title='CC BY %', return_iterator=True ).first()
df['license_id'] = license.id

### Title

In [16]:
df['title'] = df.Name.map(lambda n: 'Bühlot dataset: %s' % n.title())

### External ID

In [17]:
df['external_id'] = df['ID_Buhlot']

### Comments

In [18]:
df['comment'] = df.Comments

### Metadata Formatting

In [19]:
df.drop(['ID_Buhlot', 'Operator', 'Name', 'Comments', 'Easting [GK, m]', 'Northing [GK, m]', 'Variable Type', 'Units', 'Symbol', 'Unit_ID', 'Keyword_ID'], axis=1, inplace=True)
df.head()

,ID_V4W,Area,m.a.s.l [m],Measuring device,author_id,variable_id,location,license_id,title,external_id,comment
0,A_1,30.18,141.58,Drucksonde Endress und Hauser Waterpilot FMX 165,3,4,SRID=4326;POINT (29.598817 28.380061),6,Bühlot dataset: Altschweier / Bühlot Lubw,28.19.00_00_01,Data 2013-2019 NaN free
1,A_2,12.79,294.00,Radarpegel Endress und Hauser Micropilot FMR 230V,11,4,SRID=4326;POINT (29.630629 28.363901),6,Bühlot dataset: Bühlertal Kindergarten / Bühlot,28.13.00_00_01,Data 2013-2019 / 32% of NaN = 19914 NaN / HZV ...
2,A_3,0.12,964.00,OTT CTD,19,18,SRID=4326;POINT (29.646054 28.328567),6,Bühlot dataset: Schwabenbrünnele / Kit,28.11.03.01_00_01,Data 2013-2019 / 30% of NaN = 18459 NaN / Tras...
3,A_4_1,nn,916.00,nn,20,10009,SRID=4326;POINT (29.665335 28.241237),6,Bühlot dataset: Baiersbronn-Ruhestein,NaN,Data 2013-2019 / 0.2% of NaN = 134 NaN
4,A_5_1,nn,162.00,nn,14,10009,SRID=4326;POINT (29.588925 28.345989),6,Bühlot dataset: Buehl_Agramet,NaN,Data 2013-2019 / 2.4% of NaN = 1514 NaN

In [20]:
col_map = {
    'Area': 'area',
    'm.a.s.l [m]': 'elevation',
    'Measuring device': 'measuring_device'
}
df.columns = [col_map.get(col, col) for col in df.columns]
df.head(2)

,ID_V4W,area,elevation,measuring_device,author_id,variable_id,location,license_id,title,external_id,comment
0,A_1,30.18,141.58,Drucksonde Endress und Hauser Waterpilot FMX 165,3,4,SRID=4326;POINT (29.598817 28.380061),6,Bühlot dataset: Altschweier / Bühlot Lubw,28.19.00_00_01,Data 2013-2019 NaN free
1,A_2,12.79,294.00,Radarpegel Endress und Hauser Micropilot FMR 230V,11,4,SRID=4326;POINT (29.630629 28.363901),6,Bühlot dataset: Bühlertal Kindergarten / Bühlot,28.13.00_00_01,Data 2013-2019 / 32% of NaN = 19914 NaN / HZV ...

This is the metadata for all operators.  
The data can now be uploaded individually for each operator.

In [23]:
df.to_csv('metadata_all.csv', index=False)

In [24]:
pd.read_csv('metadata_all.csv').head(2)

,ID_V4W,area,elevation,measuring_device,author_id,variable_id,location,license_id,title,external_id,comment
0,A_1,30.18,141.58,Drucksonde Endress und Hauser Waterpilot FMX 165,3,4,SRID=4326;POINT (29.598817 28.380061),6,Bühlot dataset: Altschweier / Bühlot Lubw,28.19.00_00_01,Data 2013-2019 NaN free
1,A_2,12.79,294.00,Radarpegel Endress und Hauser Micropilot FMR 230V,11,4,SRID=4326;POINT (29.630629 28.363901),6,Bühlot dataset: Bühlertal Kindergarten / Bühlot,28.13.00_00_01,Data 2013-2019 / 32% of NaN = 19914 NaN / HZV ...

In [58]:
api.find_keyword(session, value='BEST')[0].__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7f612a0a0e90>,
 'id': 7668,
 'value': 'BEST',
 'thesaurus_id': 1,
 'uuid': '94ecf3ab-aa20-4756-8e3b-629795b3d5b5',
 'parent_id': 6699,
 'full_path': 'EARTH SCIENCE > CLIMATE INDICATORS > ATMOSPHERIC/OCEAN INDICATORS > TELECONNECTIONS > BIVARIATE ENSO TIMESERIES INDEX > BEST'}