# Create Metadata entries

In [1]:
from metacatalog import api
import pandas as pd
from pyproj import Transformer

Create the database session

In [2]:
CONNECTION= 'buehlot_upload'
UPLOAD = True

In [3]:
session = api.connect_database(CONNECTION)
print(session.bind)

Engine(postgresql://postgres:***@localhost:5432/buehlot_upload)

In [4]:
raw = pd.read_excel('Buhlot_raw.xlsx')
print(raw.shape)
raw.head()

(26, 15)

,ID_V4W,Name,Operator,ID_Buhlot,Area,"Easting [GK, m]","Northing [GK, m]",m.a.s.l [m],Variable Type,Units,Symbol,Unit_ID,Keyword_ID,Measuring device,Comments
0,A_1,Altschweier / Bühlot LUBW,LUBW,28.19.00_00_01,30.18,3437511.000,5395848.000,141.58,Discharge,[m³/s],Q,108,7327.0,Drucksonde Endress und Hauser Waterpilot FMX 165,Data 2013-2019 NaN free
1,A_2,Bühlertal Kindergarten / Bühlot,HZV,28.13.00_00_01,12.79,3440860.017,5393606.371,294.00,Discharge,[m³/s],Q,108,7327.0,Radarpegel Endress und Hauser Micropilot FMR 230V,Data 2013-2019 / 32% of NaN = 19914 NaN / HZV ...
2,A_3,Schwabenbrünnele / KIT,KIT,28.11.03.01_00_01,0.12,3442007.862,5389779.800,964.00,Water level,[cm above reference datum],L,2,NaN,OTT CTD,Data 2013-2019 / 30% of NaN = 18459 NaN / Tras...
3,A_4_1,baiersbronn-ruhestein,DWD,NaN,nn,3442700.000,5380700.000,916.00,Precipitation,[mm],P,103,6434.0,nn,Data 2013-2019 / 0.2% of NaN = 134 NaN
4,A_5_1,buehl_agramet,Agramet,NaN,nn,3435792.645,5392646.888,162.00,Precipitation,[mm],P,103,6434.0,nn,Data 2013-2019 / 2.4% of NaN = 1514 NaN

## Creating owner

In [5]:
raw.Operator.unique()

array(['LUBW', 'HZV', 'KIT', 'DWD', 'Agramet'], dtype=object)

In [6]:
# check if the person exists, if not, add the person
lubw = api.find_person(session, organisation_abbrev='LUBW', last_name=None, return_iterator=True).first()
if lubw is None and UPLOAD:
    lubw = api.add_person(session, first_name=None, last_name=None, 
                          organisation_name='Landesanstalt für Umwelt Baden-Württemberg',
                          affiliation='LUBW Landesanstalt für Umwelt Baden-Württemberg, Karlsruhe, Germany.',
                          organisation_abbrev='LUBW',
                          attribution="Grundlage: Daten aus dem Umweltinformationssystem (UIS) der LUBW Landesanstalt für Umwelt Baden-Württemberg"
                         )         

hzv = api.find_person(session, organisation_abbrev='HZV', last_name='Walzok', return_iterator=True).first()
if hzv is None and UPLOAD:
    hzv = api.add_person(session, first_name='Viviane', last_name='Walzok', 
                         organisation_name='Zweckverband Hochwasserschutz Raum Baden-Baden/Bühl',
                         affiliation='Zweckverband Hochwasserschutz, Bühl, Germany.',
                         organisation_abbrev='HZV'
                        )

kit = api.find_person(session, organisation_abbrev='KIT', last_name='Ehret', return_iterator=True).first()
if kit is None and UPLOAD:
    kit = api.add_person(session, first_name='Uwe', last_name='Ehret', 
                         organisation_name='Karlsruhe Institute of Technology', 
                         affiliation='Institute of Water and River Basin Management, Karlsruhe Institute of Technology, Germany.',
                         organisation_abbrev='KIT'
                        )
    
dwd = api.find_person(session, organisation_abbrev='DWD', last_name=None, return_iterator=True).first()
if dwd is None and UPLOAD:
    dwd = api.add_person(session, first_name=None, last_name=None,
                         organisation_name='Deutscher Wetterdienst',
                         affiliation='Deutscher Wetterdienst, Offenbach am Main, Germany.',
                         organisation_abbrev='DWD',
                         attribution='Datenbasis: Deutscher Wetterdienst, Climate Data Center (CDC)'
                        )

agramet = api.find_person(session, organisation_abbrev='LTZ', last_name='de Boer', return_iterator=True).first()
if agramet is None and UPLOAD:
    agramet = api.add_person(session, first_name='Helge', last_name='de Boer',
                             organisation_name='Landwirtschaftliches Technologiezentrum Augustenberg',
                             affiliation='LTZ Landwirtschaftliches Technologiezentrum Augustenberg, Karlsruhe, Germany.',
                             organisation_abbrev='LTZ'
                            )

## Variables

In [7]:
raw['Variable Type'].unique()

array(['Discharge', 'Water level', 'Precipitation', 'Temperature',
       'Relative Humidity', 'Global Radiation / Solar Irradiance',
       'Wind Speed', 'Snow Water Equivalent', 'Evapotranspiration',
       'Soil Moisture TETA', 'Ground Water Level'], dtype=object)

In [8]:
variables = api.find_variable(session)
for v in variables:
    print(v)

air temperature [C] <ID=1>
soil temperature [C] <ID=2>
water temperature [C] <ID=3>
discharge [m3/s] <ID=4>
air pressure [10^2*Pa] <ID=5>
relative humidity [%] <ID=6>
daily rainfall sum [mm/d] <ID=7>
rainfall intensity [mm/h] <ID=8>
solar irradiance [W/m2] <ID=9>
net radiation [W/m2] <ID=10>
gravimetric water content [kg/kg] <ID=11>
volumetric water content [cm3/cm3] <ID=12>
precision [-] <ID=13>
sap flow [cm^3/cm^2h] <ID=14>
matric potential [MPa] <ID=15>
bulk electrical conductivity [EC] <ID=16>
specific electrical conductivity [EC] <ID=17>
river water level [m] <ID=18>

In [9]:
for u in api.find_unit(session):
    print(u)

second <ID=1>
meter <ID=2>
kilogram <ID=3>
ampere <ID=4>
kelvin <ID=5>
mole <ID=6>
candela <ID=7>
radian <ID=8>
degree <ID=9>
hertz <ID=10>
newton <ID=11>
pascal <ID=12>
joule <ID=13>
watt <ID=14>
coulomb <ID=15>
volt <ID=16>
farad <ID=17>
ohm <ID=18>
siemens <ID=19>
lux <ID=20>
relative <ID=21>
mass flux density per hour <ID=22>
hour <ID=23>
megapascal <ID=24>
electrical conductivity <ID=25>
degree Celsius <ID=101>
milimeter <ID=102>
mm per day <ID=103>
hectopascal <ID=104>
mm per hour <ID=105>
mm per second <ID=106>
meter per second <ID=107>
cubicmeter per second <ID=108>
liter per second <ID=109>
degree <ID=110>
percent <ID=112>
cm3/cm3 <ID=113>
kg/kg <ID=114>
watt per sqauaremeter <ID=115>

In [10]:
# missing variables:
wind = api.find_variable(session, name='wind speed', return_iterator=True).first()
if wind is None and UPLOAD:
    wind = api.add_variable(session, name='wind speed', symbol='v', unit=107)
ground = api.find_variable(session, name='ground water level', return_iterator=True).first()
if ground is None and UPLOAD:
    ground = api.add_variable(session, name='ground water level', symbol='GWL', unit=2)
evapo = api.find_variable(session, name='evapotranspiration', return_iterator=True).first()
if evapo is None and UPLOAD:
    evapo = api.add_variable(session, name='evapotranspiration', symbol='ET', unit=105)
we = api.find_variable(session, name='water equivalent', return_iterator=True).first()
if we is None and UPLOAD:
    we = api.add_variable(session, name='water equivalent', symbol='WE', unit=102)
    
# variable mapping
v_mapping = {
    'Discharge': 4,
    'Water level': 18,
    'Precipitation': 8,
    'Relative Humidity': 6,
    'Global Radiation / Solar Irradiance': 9,
    'Wind Speed': wind.id,
    'Soil Moisture TETA': 12,
    'Ground Water Level': ground.id,
    'Temperature': 1,
    'Snow Water Equivalent': we.id,
    'Evapotranspiration': evapo.id
}

In [11]:
variable_ids = raw['Variable Type'].map(lambda v: v_mapping[v])

### Notes

* GWL in mm? -> transform to m
* water level in cm? -> transform to m
* rainfall unit ?

## Location

In [12]:
t = Transformer.from_crs('epsg:31467', 'epsg:4326')

In [13]:
locations = ['SRID=4326;POINT (%f %f)' % t.transform(r[0], r[1]) for i, r in raw[['Easting [GK, m]', 'Northing [GK, m]']].iterrows()]

## License

In [14]:
lic = api.find_license(session, short_title='CC BY %', return_iterator=True ).first()
print(lic)

Creative Commons Attribution 4.0 International <ID=6>

## Metadata

In [15]:
df = raw.copy()
#df = raw
df['location'] = locations
df['variable_id'] = variable_ids
df['license_id'] = lic.id
df['title'] = df.Name.map(lambda n: 'Bühlot dataset: %s' % n)

df.head(2)

,ID_V4W,Name,Operator,ID_Buhlot,Area,"Easting [GK, m]","Northing [GK, m]",m.a.s.l [m],Variable Type,Units,Symbol,Unit_ID,Keyword_ID,Measuring device,Comments,location,variable_id,license_id,title
0,A_1,Altschweier / Bühlot LUBW,LUBW,28.19.00_00_01,30.18,3437511.000,5395848.000,141.58,Discharge,[m³/s],Q,108,7327.0,Drucksonde Endress und Hauser Waterpilot FMX 165,Data 2013-2019 NaN free,SRID=4326;POINT (29.598817 28.380061),4,6,Bühlot dataset: Altschweier / Bühlot LUBW
1,A_2,Bühlertal Kindergarten / Bühlot,HZV,28.13.00_00_01,12.79,3440860.017,5393606.371,294.00,Discharge,[m³/s],Q,108,7327.0,Radarpegel Endress und Hauser Micropilot FMR 230V,Data 2013-2019 / 32% of NaN = 19914 NaN / HZV ...,SRID=4326;POINT (29.630629 28.363901),4,6,Bühlot dataset: Bühlertal Kindergarten / Bühlot

In [16]:
df.drop(['ID_V4W', 'Name', 'Easting [GK, m]', 'Northing [GK, m]', 'Variable Type', 'Units', 'Symbol', 'Unit_ID', 'Keyword_ID'], axis=1, inplace=True)

col_map = {
    'ID_Buhlot': 'external_id',
    'm.a.s.l [m]': 'elevation',
    'Comments': 'comment'
}
df.columns = [col_map.get(col, col) for col in df.columns]
df.head(2)

,Operator,external_id,Area,elevation,Measuring device,comment,location,variable_id,license_id,title
0,LUBW,28.19.00_00_01,30.18,141.58,Drucksonde Endress und Hauser Waterpilot FMX 165,Data 2013-2019 NaN free,SRID=4326;POINT (29.598817 28.380061),4,6,Bühlot dataset: Altschweier / Bühlot LUBW
1,HZV,28.13.00_00_01,12.79,294.00,Radarpegel Endress und Hauser Micropilot FMR 230V,Data 2013-2019 / 32% of NaN = 19914 NaN / HZV ...,SRID=4326;POINT (29.630629 28.363901),4,6,Bühlot dataset: Bühlertal Kindergarten / Bühlot

This is the metadata for all operators.  
The data can now be uploaded individually for each operator.

### Upload

In [17]:
# there is no contact person for DWD and LUBW, which is why they are not uploaded for now
# use the commented out (second) dictionary to also upload DWD and LUBW entries
op_dict = {'HZV':hzv, 'KIT':kit, 'Agramet':agramet}
#op_dict = {'LUBW':lubw, 'HZV':hzv, 'KIT':kit, 'DWD':dwd, 'Agramet':agramet}

def upload_metadata(df, operator):
    """
    Upload the metadata to metacatalog for the different operators.
    
    df: metadata for all operators (created above)
    operator: 'LUBW', 'HZV', 'KIT', 'DWD', 'Agramet'
    """
    # select metadata for the defined operator, drop the 'Operator' column, set datatype int for IDs 
    df = df.where(df.Operator==operator).dropna(how='all')
    df.drop(['Operator'], axis=1, inplace=True)
    df['variable_id'] = df.variable_id.astype(int)
    df['license_id'] = df.license_id.astype(int)
    
    # get the metacatalog object for the different selected operator
    op=op_dict[operator]
    
    # upload metadata
    for i,e in df.iterrows():
        entry = api.add_entry(session, e.title, op.id, e.location, e.variable_id, 
                              external_id=e.external_id, license=e.license_id, embargo=False)

        details = {k:v for k,v in e.to_dict().items() if k not in ['title', 'external_id', 'variable_id', 'license_id', 'location']}
        api.add_details_to_entries(session, [entry], **details)

In [18]:
if UPLOAD:
    for key in op_dict: 
        upload_metadata(df, key)

In [19]:
entries = api.find_entry(session)
for e in entries:
    print(e)

<ID=1 Bühlot dataset: Bühl [discharge] >
<ID=2 Bühlot dataset: p_hr [rainfall intensity] >
<ID=3 Bühlot dataset: bühl [rainfall intensity] >
<ID=4 Bühlot dataset: Alts [rainfall intensity] >
<ID=5 Bühlot dataset: wied [rainfall intensity] >
<ID=6 Bühlot dataset: Schw [river water level] >
<ID=7 Bühlot dataset: buts [rainfall intensity] >
<ID=8 Bühlot dataset: Scha [rainfall intensity] >
<ID=9 Bühlot dataset: schö [rainfall intensity] >
<ID=10 Bühlot dataset: schw [rainfall intensity] >
<ID=11 Bühlot dataset: spor [rainfall intensity] >
<ID=12 Bühlot dataset: wint [rainfall intensity] >
<ID=13 Bühlot dataset: schw [air temperature] >
<ID=14 Bühlot dataset: Scha [volumetric water content] >
<ID=15 Bühlot dataset: Spre [ground water level] >
<ID=16 Bühlot dataset: Scha [ground water level] >
<ID=17 Bühlot dataset: bueh [rainfall intensity] >
<ID=18 Bühlot dataset: neuw [rainfall intensity] >
<ID=19 Bühlot dataset: bueh [air temperature] >
<ID=20 Bühlot dataset: bueh [relative humidity] >
<ID=21 Bühlot dataset: bueh [solar irradiance] >
<ID=22 Bühlot dataset: lich [wind speed] >
<ID=23 Bühlot dataset: bueh [evapotranspiration] >

## create the group

In [20]:
if UPLOAD:
    buhlot = api.add_group(session, 'Project', 
                       entry_ids=[e.id for e in entries],
                       title='Bühlot Dataset',
                       description='The Bühlot dataset is a collection of environmental measurements from the Bühlot.'
                      )

print(buhlot)

Project Bühlot Dataset <ID=1>

In [21]:
buhlot.entries

[<metacatalog.models.entry.Entry at 0x27d3a57cf40>,
 <metacatalog.models.entry.Entry at 0x27d3a582d30>,
 <metacatalog.models.entry.Entry at 0x27d3a582df0>,
 <metacatalog.models.entry.Entry at 0x27d3a582eb0>,
 <metacatalog.models.entry.Entry at 0x27d3a582f70>,
 <metacatalog.models.entry.Entry at 0x27d3a584070>,
 <metacatalog.models.entry.Entry at 0x27d3a584130>,
 <metacatalog.models.entry.Entry at 0x27d3a5841f0>,
 <metacatalog.models.entry.Entry at 0x27d3a5842b0>,
 <metacatalog.models.entry.Entry at 0x27d3a584370>,
 <metacatalog.models.entry.Entry at 0x27d3a584430>,
 <metacatalog.models.entry.Entry at 0x27d3a5844f0>,
 <metacatalog.models.entry.Entry at 0x27d3a5845b0>,
 <metacatalog.models.entry.Entry at 0x27d3a584670>,
 <metacatalog.models.entry.Entry at 0x27d3a584730>,
 <metacatalog.models.entry.Entry at 0x27d3a5847f0>,
 <metacatalog.models.entry.Entry at 0x27d3a5848b0>,
 <metacatalog.models.entry.Entry at 0x27d3a584970>,
 <metacatalog.models.entry.Entry at 0x27d3a584a30>,
 <metacatalog.models.entry.Entry at 0x27d3a584af0>,
 <metacatalog.models.entry.Entry at 0x27d3a584bb0>,
 <metacatalog.models.entry.Entry at 0x27d3a584c70>,
 <metacatalog.models.entry.Entry at 0x27d3a584d30>]