# Uploading Eddy TK3 data

Loading Fendt TK2 output eddy data into metacatalog.
Compliance with the NetCDF standard is attempted by loading additional information into the details of each entry (see *data/TK3_to_NetCDF*).

In [1]:
UPLOAD = True
CONNECTION = 'eddy_upload'

In [2]:
import pandas as pd
import numpy as np

from metacatalog import api, ext

In [3]:
session = api.connect_database(CONNECTION)
print('Using: %s' % session.bind)

Using: Engine(postgresql://postgres:***@localhost:5432/eddy_upload)

In [4]:
# check if the IO extension is activate
try:
    print(ext.extension('io'))
except AttributeError:
    ext.activate_extension('io', 'metacatalog.ext.io', 'IOExtension')
    from metacatalog.ext.io import IOExtension
    ext.extension('io', IOExtension)

<class 'metacatalog.ext.io.extension.IOExtension'>

### Read data

Fendt Eddy data is available for the years 2014 - 2018.  
As each partial dataset ends at **T_end = '31.12.201X 23:30'** and the next dataset starts at **T_end = '01.01.201X 00:30'** we fill the missing tstamp **T_end = '01.01.201X 00:00'** with NaN values to keep a temporal timescale of 30 minutes.  
The same gap has to be filled in year 2018 at **T_end = '01.03.2018 00:00:00'**.

In [5]:
# read header file
header = pd.read_csv('data/Fendt/Fendt_TK2_result_header.csv')
df_colnames = list(header.columns)

# read data files, insert rows between yearly datasets, concat and drop the last column (dat csv lines ending with a comma)
dat2014 = pd.read_csv('data/Fendt/Fendt_TK2_result_2014.csv', header=None)
append2014 = dat2014.iloc[-1,:].copy()
append2014[[0,1,47]] = ['31.12.2014 23:30', '01.01.2015 00:00', '31.12.2014 23:45']
append2014[2:46] = np.nan
append2014[48:-1] = np.nan
dat2014 = dat2014.append(append2014, ignore_index=True)

dat2015 = pd.read_csv('data/Fendt/Fendt_TK2_result_2015.csv', header=None)
append2015 = append2014.copy()
append2015[[0,1,47]] = ['31.12.2015 23:30', '01.01.2016 00:00', '31.12.2015 23:45']
dat2015 = dat2015.append(append2015, ignore_index=True)

dat2016 = pd.read_csv('data/Fendt/Fendt_TK2_result_2016.csv', header=None)
append2016 = append2014.copy()
append2016[[0,1,47]] = ['31.12.2016 23:30', '01.01.2017 00:00', '31.12.2016 23:45']
dat2016 = dat2016.append(append2016, ignore_index=True)

dat2017 = pd.read_csv('data/Fendt/Fendt_TK2_result_2017.csv', header=None)
append2017 = append2014.copy()
append2017[[0,1,47]] = ['31.12.2017 23:30', '01.01.2018 00:00', '31.12.2017 23:45']
dat2017 = dat2017.append(append2017, ignore_index=True)

dat2018 = pd.read_csv('data/Fendt/Fendt_TK2_result_2018.csv', header=None)
insert2018 = append2014.copy()
insert2018[[0,1,47]] = ['28.02.2018 23:30', '01.03.2018 00:00', '28.02.2087 23:45']
insert2018 = pd.DataFrame([insert2018], index = [2830.5])
dat2018 = dat2018.append(insert2018, ignore_index=False)
dat2018 = dat2018.sort_index().reset_index(drop=True)


dat = pd.concat([dat2014, dat2015, dat2016, dat2017, dat2018], axis=0, ignore_index=True)

dat.drop(dat.columns[len(dat.columns)-1], axis=1, inplace=True)

# use the column names from the header file for the data
dat.columns = df_colnames

dat.head()

,T_begin,T_end,u[m/s],v[m/s],w[m/s],Ts[deg C],Tp[deg C],a[g/m3],CO2[mmol/m3],T_ref[deg C],...,Footprint_trgt_2,Footprnt_xmax[m],r_err_ustar[%],r_err_HTs[%],r_err_LvE[%],r_err_co2[%],noise_ustar[%],noise_HTs[%],noise_LvE[%],noise_co2[%]
0,01.01.2014 00:00,01.01.2014 00:30,0.137494,0.0,-0.0,-6.285680,-9999.900391,2.344342,18.548988,-6.886489,...,0.0,2.160913,14.113237,160.036423,34.337631,67.735367,-9999.900391,1.127843,0.360108,0.335599
1,01.01.2014 00:30,01.01.2014 01:00,0.093005,0.0,0.0,-6.682931,-9999.900391,2.253942,18.620834,-7.285423,...,0.0,0.216710,20.769394,-9999.900391,-9999.900391,-9999.900391,-9999.900391,-9999.900391,-9999.900391,-9999.900391
2,01.01.2014 01:00,01.01.2014 01:30,0.274196,0.0,0.0,-6.360974,-9999.900391,2.310148,18.771425,-6.970643,...,0.0,0.617222,15.184849,-9999.900391,-9999.900391,-9999.900391,-9999.900391,-9999.900391,-9999.900391,-9999.900391
3,01.01.2014 01:30,01.01.2014 02:00,0.395319,0.0,0.0,-6.381432,-9999.900391,2.245660,18.669064,-7.214050,...,0.0,2.234210,29.433590,-9999.900391,-9999.900391,-9999.900391,-9999.900391,-9999.900391,-9999.900391,-9999.900391
4,01.01.2014 02:00,01.01.2014 02:30,1.211186,0.0,0.0,-5.713360,-9999.900391,2.331432,18.393152,-6.583365,...,0.0,27.591553,13.585052,302.187439,30.180212,261.033478,-9999.900391,8.969559,0.929779,8.279125

### Create a dummy Person entry who acts as the owner of the Eddy data¶

In [6]:
author = api.find_person(session, organisation_abbrev='KIT', last_name='Mauder', return_iterator=True).first()

if author is None and UPLOAD:
    author = api.add_person(session, first_name='Matthias', last_name='Mauder',
                            organisation_name='Karlsruhe Institute of Technology (KIT)',
                            affiliation='Institute of Meteorology and Climate Research - Atmospheric Environmental Research (IMK-IFU), Campus Alpin',
                            organisation_abbrev='KIT'
                            #attribution=""
                           )

print(author)

Matthias Mauder <ID=1>

### Specify the location of the Eddy flux tower

source: https://www.icos-infrastruktur.de/en/icos-d/komponenten/oekosysteme/beobachtungsstandorte/fendt-c1/

In [7]:
location = (11.061000, 47.833000)

### Specify the license ID, which is used for each entry

In [8]:
license = 6 # True value???

### Data column overview

In [9]:
df_TK = pd.read_excel('data/Fendt/Datenübersicht_Fendt_FastData.xlsx', sheet_name=3, usecols=[1,2,3], skiprows=4, header=None)
pd.set_option('display.max_rows', 61)
df_TK

,1,2,3
0,T_begin,Beginning of the averaging interval,dd.MM.yyyy hh:mm
1,T_end,Ending of the averaging interval,dd.MM.yyyy hh:mm
2,u[m/s],horizontal wind component for the direction in...,m/s
3,v[m/s],horizontal wind component for the direction re...,m/s
4,w[m/s],vertical wind component,m/s
5,Ts[°C],sonic temperature,deg C
6,Tp[°C],temperature from an additional fast response s...,deg C
7,a[g/m³],absolute humidity averaged from turbulence mea...,g/m3
8,CO2[mmol/m³],CO2 concentration averaged from turbulence mea...,mmol/m3
9,T_ref[°C],temperature measurement from a slow response r...,deg C
10,a_ref[g/m³],absolute humidity from a slow response referen...,g/m3
11,p_ref[hPa],air pressure,hPa
12,Var[u],Variance of the wind component u,m/s
13,Var[v],Variance of the wind component v,m/s
14,Var[w],Variance of the wind component w,m/s
15,Var[Ts],Variance of sonic temperature,deg C
16,Var[Tp],Variance of Temperature from a additional fast...,deg C
17,Var[a],Variance of absolute humidity,g/m3
18,Var[CO2],Variance of CO2 concentration,mmol/m3
19,Cov[u'v'],Covariance between the wind components u and v,m2/s2
20,Cov[v'w'],Covariance between the wind components v and w,m2/s2
21,Cov[u'w'],Covariance between the wind components u and w,m2/s2
22,Cov[u'Ts'],Covariance between the wind component u and th...,(m*deg C)/s
23,Cov[v'Ts'],Covariance between the wind component v and th...,(m*deg C)/s
24,Cov[w'Ts'],Covariance between the wind component w and th...,(m*deg C)/s
25,Cov[u'Tp'],Covariance between the wind component u and th...,(m*deg C)/s
26,Cov[v'Tp'],Covariance between the wind component v and th...,(m*deg C)/s
27,Cov[w'Tp'],Covariance between the wind component w and th...,(m*deg C)/s
28,Cov[u'a'],Covariance between the wind component u and ab...,g/(m2*s)
29,Cov[v'a'],Covariance between the wind component v and ab...,g/(m2*s)
30,Cov[w'a'],Covariance between the wind component w and ab...,g/(m2*s)
31,Cov[u'CO2'],Covariance between thewind component u and the...,mmol/(m2*s)
32,Cov[v'CO2'],Covariance between thewind component v and the...,mmol/(m2*s)
33,Cov[w'CO2'],Covariance between thewind component w and the...,mmol/(m2*s)
34,Nvalue,Number of values in time interval (for u),NaN
35,dir[°],wind direction,deg
36,ustar[m/s],friction velocity,m/s
37,HTs[W/m²],sensible heat flux from sonic temperature,W/m2
38,HTp[W/m²],sensible heat flux from additional fine-wire t...,W/m2
39,LvE[W/m²],latent heat flux,W/m2
40,z/L,"stability parameter, z = zm-d; L is the Obukho...",NaN
41,z/L-virt,"stability parameter, z = zm-d; L is the Obukho...",NaN
42,Flag(ustar),combined QA/QC-flag for ustar,u*
43,Flag(HTs),combined QA/QC-flag for HTs,HTs
44,Flag(HTp),combined QA/QC-flag for HTp,HTp
45,Flag(LvE),combined QA/QC-flag for LvE,LvE
46,Flag(wCO2),combined QA/QC-flag for Cov(w'CO2')/NEE,wCO2
47,T_mid,middle of time interval,NaN
48,FCstor[mmol/m²s],storage flux,mmol/(m2*s)
49,NEE[mmol/m²s],net ecosystem exchange comprising the Cov(w'CO...,mmol/(m2*s)
50,Footprint_trgt_1,proportion of footprint from target area 1,NaN
51,Footprint_trgt_2,proportion of footprint from target area 2,NaN
52,Footprnt_xmax[m],location of maximum of cross-wind integrated f...,m
53,r_err_ustar[%],random error for ustar,%
54,r_err_HTs[%],random error for HTs,%
55,r_err_LvE[%],random error for LvE,%
56,r_err_co2[%],random error for Cov(w'CO2')/NEE,%
57,noise_ustar[%],noise error for ustar,%
58,noise_HTs[%],noise error for HTs,%
59,noise_LvE[%],noise error for LvE,%
60,noise_co2[%],noise error for Cov(w'CO2')/NEE,%

Find variables and units already available in metacatalog:

In [10]:
for var in api.find_variable(session):
    print(var)

air temperature [C] <ID=1>
soil temperature [C] <ID=2>
water temperature [C] <ID=3>
discharge [m3/s] <ID=4>
air pressure [10^2*Pa] <ID=5>
relative humidity [%] <ID=6>
daily rainfall sum [mm/d] <ID=7>
rainfall intensity [mm/h] <ID=8>
solar irradiance [W/m2] <ID=9>
net radiation [W/m2] <ID=10>
gravimetric water content [kg/kg] <ID=11>
volumetric water content [cm3/cm3] <ID=12>
precision [-] <ID=13>
sap flow [cm^3/cm^2h] <ID=14>
matric potential [MPa] <ID=15>
bulk electrical conductivity [EC] <ID=16>
specific electrical conductivity [EC] <ID=17>
river water level [m] <ID=18>
evapotranspiration [mm/d] <ID=19>
drainage [mm/d] <ID=20>

In [11]:
for unit in api.find_unit(session):
    print(unit)

second <ID=1>
meter <ID=2>
kilogram <ID=3>
ampere <ID=4>
kelvin <ID=5>
mole <ID=6>
candela <ID=7>
radian <ID=8>
degree <ID=9>
hertz <ID=10>
newton <ID=11>
pascal <ID=12>
joule <ID=13>
watt <ID=14>
coulomb <ID=15>
volt <ID=16>
farad <ID=17>
ohm <ID=18>
siemens <ID=19>
lux <ID=20>
relative <ID=21>
mass flux density per hour <ID=22>
hour <ID=23>
megapascal <ID=24>
electrical conductivity <ID=25>
degree Celsius <ID=101>
milimeter <ID=102>
mm per day <ID=103>
hectopascal <ID=104>
mm per hour <ID=105>
mm per second <ID=106>
meter per second <ID=107>
cubicmeter per second <ID=108>
liter per second <ID=109>
degree <ID=110>
percent <ID=112>
cm3/cm3 <ID=113>
kg/kg <ID=114>
watt per sqauaremeter <ID=115>

### tstamp

We use T_end as a timestamp index.  
As we define the temporal scale, T_begin and T_mid can be calculated.

### Standard workflow to create an entry and add data to it:
1. Variable (find / add)
2. Entry (find / add)
3. Details (NetCDF convention: standard name, long name, ... & TK3 explanation)
4. Data: selection & cleaning (values < 9999 -> NaN)
5. Data: upload (create_datasource, datasource.create_scale, import_data)

## 1) Wind speed

#### 1.1) Variable (find / add)

In [12]:
variable = api.find_variable(session, name='3D-wind', return_iterator=True).first()

if variable is None and UPLOAD:
    variable = api.add_variable(session, name='3D-wind', symbol='uvw', unit=107, column_names=['u','v','w'])
    
print(variable)

3D-wind [m/s] <ID=10001>

#### 1.2) Entry (find / add)

In [13]:
entry = api.find_entry(session, title='Fendt dataset: 3-dimensional windspeed', return_iterator=True).first()

if entry is None and UPLOAD:
    entry = api.add_entry(session,
                          title='Fendt dataset: 3-dimensional windspeed',
                          abstract='3-dimensional windspeed data from the Fendt data set.',
                          location=location, 
                          variable=variable.id, 
                          comment='after double rotation',
                          license=license, 
                          author=author.id, 
                          embargo=True, 
                          is_partial=False)

print(entry)

<ID=1 Fendt dataset: 3-dim [3D-wind] >

#### 1.3) Details (NetCDF convention: standard name, long name, ... & TK3 explanation)

In [14]:
# extract TK3 explanation from df_TK
TK3_explanation = df_TK.iloc[[2,3,4],1].to_list()

if not entry.details and UPLOAD:
    details_dict = [
        {
        'key': 'standard_name',
        'value': "['x_wind', 'y_wind', 'upward_air_velocity']",
        'description': 'standard name according to CF Conventions'
        }, 
        {
        'key': 'long_name', 
        'value': "['longitudinal wind velocity', 'lateral wind velocity', 'vertical wind velocity']",
        'description': 'long name according to CF Conventions'
        },
        {
        'key': 'ancillary_variables', 
        'value': "['sigma2_u', 'sigma2_v', 'sigma2_w']",
        'description': 'ancillary variables in the Fendt dataset'
        },
        {
        'key': 'TK3_explanation', 
        'value': "%s" %TK3_explanation,
        'description': 'TK3 variable explanation'
        }
    ]
    
    # add details to entry
    api.add_details_to_entries(session, entry, details_dict)

entry.details_dict()

{'standard_nam': {'id': 1,
  'key': 'standard_name',
  'stem': 'standard_nam',
  'value': "['x_wind', 'y_wind', 'upward_air_velocity']",
  'description': 'standard name according to CF Conventions',
  'entry_id': 1,
  'entry_uuid': '5b4e78b5-5c52-4ce3-b684-cd172e71c45c'},
 'long_nam': {'id': 2,
  'key': 'long_name',
  'stem': 'long_nam',
  'value': "['longitudinal wind velocity', 'lateral wind velocity', 'vertical wind velocity']",
  'description': 'long name according to CF Conventions',
  'entry_id': 1,
  'entry_uuid': '5b4e78b5-5c52-4ce3-b684-cd172e71c45c'},
 'ancillary_vari': {'id': 3,
  'key': 'ancillary_variables',
  'stem': 'ancillary_vari',
  'value': "['sigma2_u', 'sigma2_v', 'sigma2_w']",
  'description': 'ancillary variables in the Fendt dataset',
  'entry_id': 1,
  'entry_uuid': '5b4e78b5-5c52-4ce3-b684-cd172e71c45c'},
 'tk3_explan': {'id': 4,
  'key': 'TK3_explanation',
  'stem': 'tk3_explan',
  'value': "['horizontal wind component for the direction in which the sonic is oriented', 'horizontal wind component for the direction rectangular to the orientation of the sonic', 'vertical wind component']",
  'description': 'TK3 variable explanation',
  'entry_id': 1,
  'entry_uuid': '5b4e78b5-5c52-4ce3-b684-cd172e71c45c'}}

#### 1.4) Data: selection & cleaning (values < 9999)

In [15]:
# select data
data = dat.iloc[:, [1,2,3,4]].copy()

# data formatting
data.columns.values[0] = 'tstamp'
data.loc[:,'tstamp'] = pd.to_datetime(data.loc[:,'tstamp'], format='%d.%m.%Y %H:%M')
data.set_index('tstamp', inplace=True)

# replace values < -9999 with NaN
data = data.mask(data < -9999)

data.head(2)

                       u[m/s]  v[m/s]  w[m/s]
tstamp
2014-01-01 00:30:00  0.137494     0.0    -0.0
2014-01-01 01:00:00  0.093005     0.0     0.0

#### 1.5) Data: upload (create_datasource, datasource.create_scale, import_data)

In [16]:
if UPLOAD and not entry.datasource:
    entry.create_datasource(type=1, path='timeseries', datatype='timeseries')
    
    entry.datasource.create_scale(
        resolution='30min', 
        extent=(data.index[0], data.index[-1]), 
        support=1.0, # not sure 
        scale_dimension='temporal'
    )
    
    entry.import_data(data)

In [17]:
edat = entry.get_data()
edat.head(2)

                            u    v    w
tstamp
2014-01-01 00:30:00  0.137494  0.0  0.0
2014-01-01 01:00:00  0.093005  0.0  0.0

## 2) Wind direction

#### 2.1) Variable (find / add)

In [18]:
variable = api.find_variable(session, name='wind direction', return_iterator=True).first()

if variable is None and UPLOAD:
    variable = api.add_variable(session, name='wind direction', symbol='dir', unit=9, column_names=['wind_direction'])
    
print(variable)

wind direction [deg] <ID=10002>

#### 2.2) Entry (find / add)

In [19]:
entry = api.find_entry(session, title='Fendt dataset: wind direction', return_iterator=True).first()

if entry is None and UPLOAD:
    entry = api.add_entry(session,
                          title='Fendt dataset: wind direction',
                          abstract='Wind direction data from the Fendt data set.',
                          location=location, 
                          variable=variable.id,
                          license=license, 
                          author=author.id, 
                          embargo=True, 
                          is_partial=False)

print(entry)

<ID=2 Fendt dataset: wind  [wind direction] >

#### 2.3) Details (NetCDF convention: standard name, long name, ... & TK3 explanation)

In [20]:
# extract TK3 explanation from df_TK
TK3_explanation = df_TK.iloc[[35],1].to_list()

if not entry.details and UPLOAD:
    details_dict = [
        {
        'key': 'standard_name',
        'value': 'wind_from_direction',
        'description': 'standard name according to CF Conventions'
        }, 
        {
        'key': 'long_name', 
        'value': 'wind direction',
        'description': 'long name according to CF Conventions'
        },
        {
        'key': 'TK3_explanation', 
        'value': "%s" %TK3_explanation,
        'description': 'TK3 variable explanation'
        }
    ]
    
    # add details to entry
    api.add_details_to_entries(session, entry, details_dict)

entry.details_dict()

{'standard_nam': {'id': 5,
  'key': 'standard_name',
  'stem': 'standard_nam',
  'value': 'wind_from_direction',
  'description': 'standard name according to CF Conventions',
  'entry_id': 2,
  'entry_uuid': '5285bb89-db07-4215-964c-6a92550badd2'},
 'long_nam': {'id': 6,
  'key': 'long_name',
  'stem': 'long_nam',
  'value': 'wind direction',
  'description': 'long name according to CF Conventions',
  'entry_id': 2,
  'entry_uuid': '5285bb89-db07-4215-964c-6a92550badd2'},
 'tk3_explan': {'id': 7,
  'key': 'TK3_explanation',
  'stem': 'tk3_explan',
  'value': "['wind direction']",
  'description': 'TK3 variable explanation',
  'entry_id': 2,
  'entry_uuid': '5285bb89-db07-4215-964c-6a92550badd2'}}

#### 2.4) Data: selection & cleaning (values < 9999)

In [21]:
# select data
data = dat.iloc[:, [1,35]].copy()

# data formatting
data.columns.values[0] = 'tstamp'
data.loc[:,'tstamp'] = pd.to_datetime(data.loc[:,'tstamp'], format='%d.%m.%Y %H:%M')
data.set_index('tstamp', inplace=True)

# replace values < -9999 with NaN
data = data.mask(data < -9999)

data.head(2)

                      dir[deg]
tstamp
2014-01-01 00:30:00  56.934448
2014-01-01 01:00:00   7.030350

#### 2.5) Data: upload (create_datasource, datasource.create_scale, import_data)

In [22]:
if UPLOAD and not entry.datasource:
    entry.create_datasource(type=1, path='timeseries', datatype='timeseries')

    entry.datasource.create_scale(
        resolution='30min', 
        extent=(data.index[0], data.index[-1]), 
        support=1.0, # not sure 
        scale_dimension='temporal'
    )
    
    entry.import_data(data)

In [23]:
edat = entry.get_data()
edat.head(2)

                     wind_direction
tstamp
2014-01-01 00:30:00       56.934448
2014-01-01 01:00:00        7.030350

## 3) Temperature

#### 3.1) Variable (find / add)

In [24]:
variable = api.find_variable(session, name='air temperature', return_iterator=True).first()

print(variable)

air temperature [C] <ID=1>

#### 3.2) Entry (find / add)

In [25]:
entry = api.find_entry(session, title='Fendt dataset: air temperature', return_iterator=True).first()

if entry is None and UPLOAD:
    entry = api.add_entry(session,
                          title='Fendt dataset: air temperature',
                          abstract='Air temperature data from the Fendt data set.',
                          location=location, 
                          variable=variable.id,
                          license=license, 
                          author=author.id, 
                          embargo=True, 
                          is_partial=False)

print(entry)

<ID=3 Fendt dataset: air t [air temperature] >

#### 3.3) Details (NetCDF convention: standard name, long name, ... & TK3 explanation)

In [26]:
# extract TK3 explanation from df_TK
TK3_explanation = df_TK.iloc[[5,6,9],1].to_list()

if not entry.details and UPLOAD:
    details_dict = [
        {
        'key': 'standard_name',
        'value': "['', '', 'air_temperature']",
        'description': 'standard name according to CF Conventions'
        }, 
        {
        'key': 'long_name', 
        'value': "['sonic temperature', '', 'reference air temperature']",
        'description': 'long name according to CF Conventions'
        },
        {
        'key': 'ancillary_variables', 
        'value': "['sigma2_Tsonic', '', '']",
        'description': 'ancillary variables in the Fendt dataset'
        },
        {
        'key': 'TK3_explanation', 
        'value': "%s" %TK3_explanation,
        'description': 'TK3 variable explanation'
        }
    ]
    
    # add details to entry
    api.add_details_to_entries(session, entry, details_dict)

entry.details_dict()

{'standard_nam': {'id': 8,
  'key': 'standard_name',
  'stem': 'standard_nam',
  'value': "['', '', 'air_temperature']",
  'description': 'standard name according to CF Conventions',
  'entry_id': 3,
  'entry_uuid': '2fb75fde-81b6-4421-a637-314b951e34ea'},
 'long_nam': {'id': 9,
  'key': 'long_name',
  'stem': 'long_nam',
  'value': "['sonic temperature', '', 'reference air temperature']",
  'description': 'long name according to CF Conventions',
  'entry_id': 3,
  'entry_uuid': '2fb75fde-81b6-4421-a637-314b951e34ea'},
 'ancillary_vari': {'id': 10,
  'key': 'ancillary_variables',
  'stem': 'ancillary_vari',
  'value': "['sigma2_Tsonic', '', '']",
  'description': 'ancillary variables in the Fendt dataset',
  'entry_id': 3,
  'entry_uuid': '2fb75fde-81b6-4421-a637-314b951e34ea'},
 'tk3_explan': {'id': 11,
  'key': 'TK3_explanation',
  'stem': 'tk3_explan',
  'value': "['sonic temperature', 'temperature from an additional fast response sensor', 'temperature measurement from a slow response reference sensor']",
  'description': 'TK3 variable explanation',
  'entry_id': 3,
  'entry_uuid': '2fb75fde-81b6-4421-a637-314b951e34ea'}}

#### 3.4) Data: selection & cleaning (values < 9999)

In [27]:
# select data
data = dat.iloc[:, [1,5,6,9]].copy()

# data formatting
data.columns = ['tstamp', 'sonic_temperature', 'fast_response_temperature_probe', 'reference_temperature']
data.loc[:,'tstamp'] = pd.to_datetime(data.loc[:,'tstamp'], format='%d.%m.%Y %H:%M')
data.set_index('tstamp', inplace=True)

# replace values < -9999 with NaN
data = data.mask(data < -9999)

data.head(2)

,sonic_temperature,fast_response_temperature_probe,reference_temperature
tstamp,,,
2014-01-01 00:30:00,-6.285680,NaN,-6.886489
2014-01-01 01:00:00,-6.682931,NaN,-7.285423

#### 3.5) Data: upload (create_datasource, datasource.create_scale, import_data)

In [28]:
if UPLOAD and not entry.datasource:
    entry.create_datasource(type=1, path='timeseries', datatype='timeseries')

    entry.datasource.create_scale(
        resolution='30min', 
        extent=(data.index[0], data.index[-1]), 
        support=1.0, # not sure 
        scale_dimension='temporal'
    )
    
    entry.import_data(data, force_data_names=True) # use column names in data instead of variable.column_names

In [29]:
edat = entry.get_data()
edat.head(2)

,sonic_temperature,fast_response_temperature_probe,reference_temperature
tstamp,,,
2014-01-01 00:30:00,-6.285680,NaN,-6.886489
2014-01-01 01:00:00,-6.682931,NaN,-7.285423

## 4) Humidity

#### 4.1) Variable (find / add)

In [30]:
variable = api.find_variable(session, name='absolute humidity', return_iterator=True).first()

if variable is None and UPLOAD:
    unit = api.add_unit(session, name='g/cm3', symbol='g/cm3')
    variable = api.add_variable(session, name='absolute humidity', symbol='a', unit=unit.id, column_names=['a'])
    
print(variable)

absolute humidity [g/cm3] <ID=10003>

#### 4.2) Entry (find / add)

In [31]:
entry = api.find_entry(session, title='Fendt dataset: absolute humidity', return_iterator=True).first()

if entry is None and UPLOAD:
    entry = api.add_entry(session,
                          title='Fendt dataset: absolute humidity',
                          abstract='Absolute humidity data from the Fendt data set.',
                          location=location, 
                          variable=variable.id,
                          license=license, 
                          author=author.id, 
                          embargo=True, 
                          is_partial=False)

print(entry)

<ID=4 Fendt dataset: absol [absolute humidity] >

#### 4.3) Details (NetCDF convention: standard name, long name, ... & TK3 explanation)

In [32]:
# extract TK3 explanation from df_TK
TK3_explanation = df_TK.iloc[[7,10],1].to_list()

if not entry.details and UPLOAD:
    details_dict = [
        {
        'key': 'standard_name',
        'value': "['mass_concentration_of_water_vapor_in_air', 'mass_concentration_of_water_vapor_in_air']",
        'description': 'standard name according to CF Conventions'
        }, 
        {
        'key': 'long_name', 
        'value': "['absolute humidity from fast-response sensor', 'reference absolute humidity']",
        'description': 'long name according to CF Conventions'
        },
        {
        'key': 'ancillary_variables', 
        'value': "['sigma2_a', '']",
        'description': 'ancillary variables in the Fendt dataset'
        },
        {
        'key': 'TK3_explanation', 
        'value': "%s" %TK3_explanation,
        'description': 'TK3 variable explanation'
        }
    ]

    # add details to entry
    api.add_details_to_entries(session, entry, details_dict)

entry.details_dict()

{'standard_nam': {'id': 12,
  'key': 'standard_name',
  'stem': 'standard_nam',
  'value': "['mass_concentration_of_water_vapor_in_air', 'mass_concentration_of_water_vapor_in_air']",
  'description': 'standard name according to CF Conventions',
  'entry_id': 4,
  'entry_uuid': '4f7b6ccc-f9b0-4883-8211-e18cb5a18d0a'},
 'long_nam': {'id': 13,
  'key': 'long_name',
  'stem': 'long_nam',
  'value': "['absolute humidity from fast-response sensor', 'reference absolute humidity']",
  'description': 'long name according to CF Conventions',
  'entry_id': 4,
  'entry_uuid': '4f7b6ccc-f9b0-4883-8211-e18cb5a18d0a'},
 'ancillary_vari': {'id': 14,
  'key': 'ancillary_variables',
  'stem': 'ancillary_vari',
  'value': "['sigma2_a', '']",
  'description': 'ancillary variables in the Fendt dataset',
  'entry_id': 4,
  'entry_uuid': '4f7b6ccc-f9b0-4883-8211-e18cb5a18d0a'},
 'tk3_explan': {'id': 15,
  'key': 'TK3_explanation',
  'stem': 'tk3_explan',
  'value': "['absolute humidity averaged from turbulence measurement', 'absolute humidity from a slow response reference sensor']",
  'description': 'TK3 variable explanation',
  'entry_id': 4,
  'entry_uuid': '4f7b6ccc-f9b0-4883-8211-e18cb5a18d0a'}}

#### 4.4) Data: selection & cleaning (values < 9999)

In [33]:
# select data
data = dat.iloc[:, [1,7,10]].copy()

# data formatting
data.columns = ['tstamp', 'absolute_humidity', 'reference_absolute_humidity']
data.loc[:,'tstamp'] = pd.to_datetime(data.loc[:,'tstamp'], format='%d.%m.%Y %H:%M')
data.set_index('tstamp', inplace=True)

# replace values < -9999 with NaN
data = data.mask(data < -9999)

data.head(2)

                     absolute_humidity  reference_absolute_humidity
tstamp
2014-01-01 00:30:00           2.344342                     2.696330
2014-01-01 01:00:00           2.253942                     2.604188

#### 4.5) Data: upload (create_datasource, datasource.create_scale, import_data)

In [34]:
if UPLOAD and not entry.datasource:
    entry.create_datasource(type=1, path='timeseries', datatype='timeseries')

    entry.datasource.create_scale(
        resolution='30min', 
        extent=(data.index[0], data.index[-1]), 
        support=1.0, # not sure 
        scale_dimension='temporal'
    )
    
    entry.import_data(data, force_data_names=True) # use column names in data instead of variable.column_names

In [35]:
edat = entry.get_data()
edat.head(2)

                     absolute_humidity  reference_absolute_humidity
tstamp
2014-01-01 00:30:00           2.344342                     2.696330
2014-01-01 01:00:00           2.253942                     2.604188

## 5) Carbon dioxide

#### 5.1) Variable (find / add)

In [36]:
variable = api.find_variable(session, name='CO2 concentration', return_iterator=True).first()

if variable is None and UPLOAD:
    unit = api.add_unit(session, name='mmol/m3', symbol='mmol/m3')
    variable = api.add_variable(session, name='CO2 concentration', symbol='CO2', unit=unit.id, column_names=['co2_concentration'])
    
print(variable)

CO2 concentration [mmol/m3] <ID=10004>

#### 5.2) Entry (find / add)

In [37]:
entry = api.find_entry(session, title='Fendt dataset: carbon dioxide', return_iterator=True).first()

if entry is None and UPLOAD:
    entry = api.add_entry(session,
                          title='Fendt dataset: carbon dioxide',
                          abstract='Carbon dioxide concentration data from the Fendt data set.',
                          location=location, 
                          variable=variable.id,
                          license=license, 
                          author=author.id, 
                          embargo=True, 
                          is_partial=False)

print(entry)

<ID=5 Fendt dataset: carbo [CO2 concentration] >

#### 5.3) Details (NetCDF convention: standard name, long name, ... & TK3 explanation)

In [38]:
# extract TK3 explanation from df_TK
TK3_explanation = df_TK.iloc[[8],1].to_list()

if not entry.details and UPLOAD:
    details_dict = [
        {
        'key': 'standard_name',
        'value': "['mole_concentration_of_carbon_dioxide_in_air']",
        'description': 'standard name according to CF Conventions'
        }, 
        {
        'key': 'long_name', 
        'value': "['CO2 molar density from fast-response sensor']",
        'description': 'long name according to CF Conventions'
        },
        {
        'key': 'ancillary_variables', 
        'value': "['sigma2_co2']",
        'description': 'ancillary variables in the Fendt dataset'
        },
        {
        'key': 'TK3_explanation', 
        'value': "%s" %TK3_explanation,
        'description': 'TK3 variable explanation'
        }
    ]
    
    # add details to entry
    api.add_details_to_entries(session, entry, details_dict)

entry.details_dict()

{'standard_nam': {'id': 16,
  'key': 'standard_name',
  'stem': 'standard_nam',
  'value': "['mole_concentration_of_carbon_dioxide_in_air']",
  'description': 'standard name according to CF Conventions',
  'entry_id': 5,
  'entry_uuid': 'f2a5c90e-6d60-457b-8c89-1daa2ee5cb8f'},
 'long_nam': {'id': 17,
  'key': 'long_name',
  'stem': 'long_nam',
  'value': "['CO2 molar density from fast-response sensor']",
  'description': 'long name according to CF Conventions',
  'entry_id': 5,
  'entry_uuid': 'f2a5c90e-6d60-457b-8c89-1daa2ee5cb8f'},
 'ancillary_vari': {'id': 18,
  'key': 'ancillary_variables',
  'stem': 'ancillary_vari',
  'value': "['sigma2_co2']",
  'description': 'ancillary variables in the Fendt dataset',
  'entry_id': 5,
  'entry_uuid': 'f2a5c90e-6d60-457b-8c89-1daa2ee5cb8f'},
 'tk3_explan': {'id': 19,
  'key': 'TK3_explanation',
  'stem': 'tk3_explan',
  'value': "['CO2 concentration averaged from turbulence measurement']",
  'description': 'TK3 variable explanation',
  'entry_id': 5,
  'entry_uuid': 'f2a5c90e-6d60-457b-8c89-1daa2ee5cb8f'}}

#### 5.4) Data: selection & cleaning (values < 9999)

In [39]:
# select data
data = dat.iloc[:, [1,8]].copy()

# data formatting
data.columns.values[0] = 'tstamp'
data.loc[:,'tstamp'] = pd.to_datetime(data.loc[:,'tstamp'], format='%d.%m.%Y %H:%M')
data.set_index('tstamp', inplace=True)

# replace values < -9999 with NaN
data = data.mask(data < -9999)

data.head(2)

                     CO2[mmol/m3]
tstamp
2014-01-01 00:30:00     18.548988
2014-01-01 01:00:00     18.620834

#### 5.5) Data: upload (create_datasource, datasource.create_scale, import_data)

In [40]:
if UPLOAD and not entry.datasource:
    entry.create_datasource(type=1, path='timeseries', datatype='timeseries')

    entry.datasource.create_scale(
        resolution='30min', 
        extent=(data.index[0], data.index[-1]), 
        support=1.0, # not sure 
        scale_dimension='temporal'
    )
    
    entry.import_data(data)

In [41]:
edat = entry.get_data()
edat.head(2)

                     co2_concentration
tstamp
2014-01-01 00:30:00          18.548988
2014-01-01 01:00:00          18.620834

## 6) Air pressure

#### 6.1) Variable (find / add)

In [42]:
variable = api.find_variable(session, name='air pressure', return_iterator=True).first()

print(variable)

air pressure [10^2*Pa] <ID=5>

#### 6.2) Entry (find / add)

In [43]:
entry = api.find_entry(session, title='Fendt dataset: air pressure', return_iterator=True).first()

if entry is None and UPLOAD:
    entry = api.add_entry(session,
                          title='Fendt dataset: air pressure',
                          abstract='Air pressure data from the Fendt data set.',
                          location=location, 
                          variable=variable.id,
                          license=license, 
                          author=author.id, 
                          embargo=True, 
                          is_partial=False)

print(entry)

<ID=6 Fendt dataset: air p [air pressure] >

#### 6.3) Details (NetCDF convention: standard name, long name, ... & TK3 explanation)

In [44]:
# extract TK3 explanation from df_TK
TK3_explanation = df_TK.iloc[[11],1].to_list()

if not entry.details and UPLOAD:
    details_dict = [
        {
        'key': 'standard_name',
        'value': "['air_pressure']",
        'description': 'standard name according to CF Conventions'
        }, 
        {
        'key': 'long_name', 
        'value': "['reference air pressure']",
        'description': 'long name according to CF Conventions'
        },
        {
        'key': 'TK3_explanation', 
        'value': "%s" %TK3_explanation,
        'description': 'TK3 variable explanation'
        }
    ]
    
    # add details to entry
    api.add_details_to_entries(session, entry, details_dict)

entry.details_dict()

{'standard_nam': {'id': 20,
  'key': 'standard_name',
  'stem': 'standard_nam',
  'value': "['air_pressure']",
  'description': 'standard name according to CF Conventions',
  'entry_id': 6,
  'entry_uuid': 'fc49605d-e0fa-4215-ba65-870d2af9c723'},
 'long_nam': {'id': 21,
  'key': 'long_name',
  'stem': 'long_nam',
  'value': "['reference air pressure']",
  'description': 'long name according to CF Conventions',
  'entry_id': 6,
  'entry_uuid': 'fc49605d-e0fa-4215-ba65-870d2af9c723'},
 'tk3_explan': {'id': 22,
  'key': 'TK3_explanation',
  'stem': 'tk3_explan',
  'value': "['air pressure']",
  'description': 'TK3 variable explanation',
  'entry_id': 6,
  'entry_uuid': 'fc49605d-e0fa-4215-ba65-870d2af9c723'}}

#### 6.4) Data: selection & cleaning (values < 9999)

In [45]:
# select data
data = dat.iloc[:, [1,11]].copy()

# data formatting
data.columns.values[0] = 'tstamp'
data.loc[:,'tstamp'] = pd.to_datetime(data.loc[:,'tstamp'], format='%d.%m.%Y %H:%M')
data.set_index('tstamp', inplace=True)

# replace values < -9999 with NaN
data = data.mask(data < -9999)

data.head(2)

                     p_ref[hPa]
tstamp
2014-01-01 00:30:00  945.443787
2014-01-01 01:00:00  945.507019

#### 6.5) Data: upload (create_datasource, datasource.create_scale, import_data)

In [46]:
if UPLOAD and not entry.datasource:
    entry.create_datasource(type=1, path='timeseries', datatype='timeseries')

    entry.datasource.create_scale(
        resolution='30min', 
        extent=(data.index[0], data.index[-1]), 
        support=1.0, # not sure 
        scale_dimension='temporal'
    )
    
    entry.import_data(data)

In [47]:
edat = entry.get_data()
edat.head(2)

                     air_pressure
tstamp
2014-01-01 00:30:00    945.443787
2014-01-01 01:00:00    945.507019

## 7) Eddy Dataset

Create a (dummy variable) with a dummy unit for the remaining, very eddy-specific data.  
Units for each column are named in the column names.

#### 7.1) Variable (find / add)

In [48]:
variable = api.find_variable(session, name='eddy variables', return_iterator=True).first()

if variable is None and UPLOAD:
    unit = api.add_unit(session, name='eddy units', symbol='eddy')
    variable = api.add_variable(session, name='eddy variables', symbol='eddy', unit=unit.id, column_names=[''])
    
print(variable)

eddy variables [eddy] <ID=10005>

#### 7.2) Entry (find / add)

In [49]:
entry = api.find_entry(session, title='Fendt dataset: Eddy data', return_iterator=True).first()

if entry is None and UPLOAD:
    entry = api.add_entry(session,
                          title='Fendt dataset: Eddy data',
                          abstract='Eddy data and ancillary variables from the Fendt data set.',
                          location=location, 
                          variable=variable.id,
                          license=license, 
                          author=author.id, 
                          embargo=True, 
                          is_partial=True)

print(entry)

<ID=7 Fendt dataset: Eddy  [eddy variables] >

#### 7.3) Details (NetCDF convention: standard name, long name, ...)

In [50]:
# extract TK3 explanation from df_TK
TK3_explanation = df_TK.iloc[[*list(range(12, 35)), *list(range(36, 47)), *list(range(48, 61))],1].to_list()
print(TK3_explanation)

if not entry.details and UPLOAD:
    details_dict = [
        {
        'key': 'standard_name',
        'value': "['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'upward_sensible_heat_flux_in_air', '', 'upward_latent_heat_flux_in_air', '', '', 'quality_flag', 'quality_flag', 'quality_flag', 'quality_flag', 'quality_flag', '', '', '', '', '', '', '', '', '', '', '', '', '']",
        'description': 'standard name according to CF Conventions'
        }, 
        {
        'key': 'long_name', 
        'value': "['variance of longitudinal wind velocity', 'variance of lateral wind velocity', 'variance of vertical wind velocity', 'variance of sonic temperature', '', 'variance of absolute humidity from fast-response sensor', 'variance of CO2 molar density from fast-response sensor', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'number of values from sonic anemometer', 'friction velocity', 'sensible heat flux', '', 'latent heat flux', '', 'Monin Obukhov stability parameter', 'friction velocity quality flag', 'sensible heat flux quality flag', '', 'latent heat flux quality flag', 'net ecosystem exchange quality flag', '', 'net ecosystem exchange of CO2', 'flux footprint contribution from target landuse 1', 'flux footprint contribution from target landuse 2', 'flux footprint maximum distance', 'relative random error of friction velocity', 'relative random error of sensible heat flux', 'relative random error of latent heat flux', 'relative random error of net ecosystem exchange', '', '', '', '']",
        'description': 'long name according to CF Conventions'
        },
        {
        'key': 'ancillary_variables',
        'value': "['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ['u_star_qc_flag', 'u_star_rel_random_error'], ['H_qc_flag', 'H_rel_random_error'], '', ['LE_qc_flag', 'LE_rel_random_error'], '', '', '', '', '', '', '', '', ['NEE_qc_flag', 'NEE_rel_random_error'], '', '', '', '', '', '', '', '', '', '', '']",
        'description': 'ancillary variables in the Fendt dataset'
        },
        {
        'key': 'TK3_explanation', 
        'value': "%s" %TK3_explanation,
        'description': 'TK3 variable explanation'
        }
    ]
    
    # add details to entry
    api.add_details_to_entries(session, entry, details_dict)

entry.details_dict()

['Variance of the wind component u', 'Variance of the wind component v', 'Variance of the wind component w', 'Variance of sonic temperature', 'Variance of Temperature from a additional fast response sensor', 'Variance of absolute humidity', 'Variance of CO2 concentration', 'Covariance between the wind components u and v', 'Covariance between the wind components v and w', 'Covariance between the wind components u and w', 'Covariance between the wind component u and the sonic temperature', 'Covariance between the wind component v and the sonic temperature', 'Covariance between the wind component w and the sonic temperature', 'Covariance between the wind component u and the temperature from an additional fast response sensor', 'Covariance between the wind component v and the temperature from an additional fast response sensor', 'Covariance between the wind component w and the temperature from an additional fast response sensor', 'Covariance between the wind component u and absolute humidity', 'Covariance between the wind component v and absolute humidity', 'Covariance between the wind component w and absolute humidity', 'Covariance between thewind component u and the CO2 concentration', 'Covariance between thewind component v and the CO2 concentration', 'Covariance between thewind component w and the CO2 concentration', 'Number of values in time interval (for u)', 'friction velocity', 'sensible heat flux from sonic temperature', 'sensible heat flux from additional fine-wire temperature probe', 'latent heat flux', 'stability parameter, z = zm-d; L is the Obukhov-length calculated with the actual temperature and the sensible heat flux', 'stability parameter, z = zm-d; L is the Obukhov-length calculated with the virtual temperature and the buoyancy flux (correct but not so common)', 'combined QA/QC-flag for ustar', 'combined QA/QC-flag for HTs', 'combined QA/QC-flag for HTp', 'combined QA/QC-flag for LvE', "combined QA/QC-flag for Cov(w'CO2')/NEE", 'storage flux', "net ecosystem exchange comprising the Cov(w'CO2') and the storage flux if selected", 'proportion of footprint from target area 1', 'proportion of footprint from target area 2', 'location of maximum of cross-wind integrated footprint function', 'random error for ustar', 'random error for HTs', 'random error for LvE', "random error for Cov(w'CO2')/NEE", 'noise error for ustar', 'noise error for HTs', 'noise error for LvE', "noise error for Cov(w'CO2')/NEE"]

{'standard_nam': {'id': 23,
  'key': 'standard_name',
  'stem': 'standard_nam',
  'value': "['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'upward_sensible_heat_flux_in_air', '', 'upward_latent_heat_flux_in_air', '', '', 'quality_flag', 'quality_flag', 'quality_flag', 'quality_flag', 'quality_flag', '', '', '', '', '', '', '', '', '', '', '', '', '']",
  'description': 'standard name according to CF Conventions',
  'entry_id': 7,
  'entry_uuid': '4c8fe1f9-1bfa-478b-8193-467b29088196'},
 'long_nam': {'id': 24,
  'key': 'long_name',
  'stem': 'long_nam',
  'value': "['variance of longitudinal wind velocity', 'variance of lateral wind velocity', 'variance of vertical wind velocity', 'variance of sonic temperature', '', 'variance of absolute humidity from fast-response sensor', 'variance of CO2 molar density from fast-response sensor', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'number of values from sonic anemometer', 'friction velocity', 'sensible heat flux', '', 'latent heat flux', '', 'Monin Obukhov stability parameter', 'friction velocity quality flag', 'sensible heat flux quality flag', '', 'latent heat flux quality flag', 'net ecosystem exchange quality flag', '', 'net ecosystem exchange of CO2', 'flux footprint contribution from target landuse 1', 'flux footprint contribution from target landuse 2', 'flux footprint maximum distance', 'relative random error of friction velocity', 'relative random error of sensible heat flux', 'relative random error of latent heat flux', 'relative random error of net ecosystem exchange', '', '', '', '']",
  'description': 'long name according to CF Conventions',
  'entry_id': 7,
  'entry_uuid': '4c8fe1f9-1bfa-478b-8193-467b29088196'},
 'ancillary_vari': {'id': 25,
  'key': 'ancillary_variables',
  'stem': 'ancillary_vari',
  'value': "['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ['u_star_qc_flag', 'u_star_rel_random_error'], ['H_qc_flag', 'H_rel_random_error'], '', ['LE_qc_flag', 'LE_rel_random_error'], '', '', '', '', '', '', '', '', ['NEE_qc_flag', 'NEE_rel_random_error'], '', '', '', '', '', '', '', '', '', '', '']",
  'description': 'ancillary variables in the Fendt dataset',
  'entry_id': 7,
  'entry_uuid': '4c8fe1f9-1bfa-478b-8193-467b29088196'},
 'tk3_explan': {'id': 26,
  'key': 'TK3_explanation',
  'stem': 'tk3_explan',
  'value': '[\'Variance of the wind component u\', \'Variance of the wind component v\', \'Variance of the wind component w\', \'Variance of sonic temperature\', \'Variance of Temperature from a additional fast response sensor\', \'Variance of absolute humidity\', \'Variance of CO2 concentration\', \'Covariance between the wind components u and v\', \'Covariance between the wind components v and w\', \'Covariance between the wind components u and w\', \'Covariance between the wind component u and the sonic temperature\', \'Covariance between the wind component v and the sonic temperature\', \'Covariance between the wind component w and the sonic temperature\', \'Covariance between the wind component u and the temperature from an additional fast response sensor\', \'Covariance between the wind component v and the temperature from an additional fast response sensor\', \'Covariance between the wind component w and the temperature from an additional fast response sensor\', \'Covariance between the wind component u and absolute humidity\', \'Covariance between the wind component v and absolute humidity\', \'Covariance between the wind component w and absolute humidity\', \'Covariance between thewind component u and the CO2 concentration\', \'Covariance between thewind component v and the CO2 concentration\', \'Covariance between thewind component w and the CO2 concentration\', \'Number of values in time interval (for u)\', \'friction velocity\', \'sensible heat flux from sonic temperature\', \'sensible heat flux from additional fine-wire temperature probe\', \'latent heat flux\', \'stability parameter, z = zm-d; L is the Obukhov-length calculated with the actual temperature and the sensible heat flux\', \'stability parameter, z = zm-d; L is the Obukhov-length calculated with the virtual temperature and the buoyancy flux (correct but not so common)\', \'combined QA/QC-flag for ustar\', \'combined QA/QC-flag for HTs\', \'combined QA/QC-flag for HTp\', \'combined QA/QC-flag for LvE\', "combined QA/QC-flag for Cov(w\'CO2\')/NEE", \'storage flux\', "net ecosystem exchange comprising the Cov(w\'CO2\') and the storage flux if selected", \'proportion of footprint from target area 1\', \'proportion of footprint from target area 2\', \'location of maximum of cross-wind integrated footprint function\', \'random error for ustar\', \'random error for HTs\', \'random error for LvE\', "random error for Cov(w\'CO2\')/NEE", \'noise error for ustar\', \'noise error for HTs\', \'noise error for LvE\', "noise error for Cov(w\'CO2\')/NEE"]',
  'description': 'TK3 variable explanation',
  'entry_id': 7,
  'entry_uuid': '4c8fe1f9-1bfa-478b-8193-467b29088196'}}

# units:

### units in (unedited) column names --> sufficient?

#### 7.4) Data: selection & cleaning (values < 9999)

In [51]:
# select data
data = dat.iloc[:, [0, *list(range(12, 35)), *list(range(36, 47)), *list(range(48, 61))]].copy()

# data formatting
data.columns.values[0] = 'tstamp'
data.loc[:,'tstamp'] = pd.to_datetime(data.loc[:,'tstamp'], format='%d.%m.%Y %H:%M')
data.set_index('tstamp', inplace=True)

# replace values < -9999 with NaN
data = data.mask(data < -9999)

pd.set_option('display.max_columns', None)
data.head(2)

,Var(u)[m/s],Var(v)[m/s],Var(w)[m/s],Var(Ts)[deg C],Var(Tp)[deg C],Var(a)[g/m3],Var(CO2)[mmol/m3],Cov(u'v')[m2/s2],Cov(v'w')[m2/s2],Cov(u'w')[m2/s2],Cov(u'Ts')[(m*deg C)/s],Cov(v'Ts')[(m*deg C)/s],Cov(w'Ts')[(m*deg C)/s],Cov(u'Tp')[(m*deg C)/s],Cov(v'Tp')[(m*deg C)/s],Cov(w'Tp')[(m*deg C)/s],Cov(u'a')[g/(m2*s)],Cov(v'a')[g/(m2*s)],Cov(w'a')[g/(m2*s)],Cov(u'CO2')[mmol/(m2*s)],Cov(v'CO2')[mmol/(m2*s)],Cov(w'CO2')[mmol/(m2*s)],Nvalue,ustar[m/s],HTs[W/m2],HTp[W/m2],LvE[W/m2],z/L,z/L-virt,Flag(ustar),Flag(HTs),Flag(HTp),Flag(LvE),Flag(wCO2),FCstor[mmol/(m2*s)],NEE[mmol/(m2*s)],Footprint_trgt_1,Footprint_trgt_2,Footprnt_xmax[m],r_err_ustar[%],r_err_HTs[%],r_err_LvE[%],r_err_co2[%],noise_ustar[%],noise_HTs[%],noise_LvE[%],noise_co2[%]
tstamp,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2014-01-01 00:00:00,0.043740,0.152833,0.001219,0.129102,NaN,0.000914,0.230856,-0.011592,0.002677,-0.001681,-0.051032,-0.045809,0.001892,NaN,NaN,NaN,-0.000077,-0.002011,-0.000154,0.076011,0.023096,-0.003991,35998.0,0.056218,2.352687,NaN,-0.386901,-0.526310,-0.775742,1.0,1.0,2.0,1.0,1,NaN,-0.003991,77.053742,0.0,2.160913,14.113237,160.036423,34.337631,67.735367,NaN,1.127843,0.360108,0.335599
2014-01-01 00:30:00,0.342903,0.140285,0.005036,0.181497,NaN,0.001868,0.108060,-0.080000,-0.001734,0.011458,-0.013432,-0.006472,-0.000621,NaN,NaN,NaN,0.000237,0.001537,0.000320,-0.002267,0.004944,0.000030,35998.0,0.107649,NaN,NaN,NaN,0.024655,0.039305,1.0,2.0,2.0,2.0,2,NaN,NaN,97.379654,0.0,0.216710,20.769394,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 7.5) Data: upload (create_datasource, datasource.create_scale, import_data)

In [52]:
if UPLOAD and not entry.datasource:
    entry.create_datasource(type=1, path='timeseries', datatype='timeseries')

    entry.datasource.create_scale(
        resolution='30min', 
        extent=(data.index[0], data.index[-1]), 
        support=1.0, # not sure 
        scale_dimension='temporal'
    )
    
    entry.import_data(data, force_data_names=True)

In [53]:
edat = entry.get_data()
edat.head(2)

,Var(u)[m/s],Var(v)[m/s],Var(w)[m/s],Var(Ts)[deg C],Var(Tp)[deg C],Var(a)[g/m3],Var(CO2)[mmol/m3],Cov(u'v')[m2/s2],Cov(v'w')[m2/s2],Cov(u'w')[m2/s2],Cov(u'Ts')[(m*deg C)/s],Cov(v'Ts')[(m*deg C)/s],Cov(w'Ts')[(m*deg C)/s],Cov(u'Tp')[(m*deg C)/s],Cov(v'Tp')[(m*deg C)/s],Cov(w'Tp')[(m*deg C)/s],Cov(u'a')[g/(m2*s)],Cov(v'a')[g/(m2*s)],Cov(w'a')[g/(m2*s)],Cov(u'CO2')[mmol/(m2*s)],Cov(v'CO2')[mmol/(m2*s)],Cov(w'CO2')[mmol/(m2*s)],Nvalue,ustar[m/s],HTs[W/m2],HTp[W/m2],LvE[W/m2],z/L,z/L-virt,Flag(ustar),Flag(HTs),Flag(HTp),Flag(LvE),Flag(wCO2),FCstor[mmol/(m2*s)],NEE[mmol/(m2*s)],Footprint_trgt_1,Footprint_trgt_2,Footprnt_xmax[m],r_err_ustar[%],r_err_HTs[%],r_err_LvE[%],r_err_co2[%],noise_ustar[%],noise_HTs[%],noise_LvE[%],noise_co2[%]
tstamp,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2014-01-01 00:00:00,0.043740,0.152833,0.001219,0.129102,NaN,0.000914,0.230856,-0.011592,0.002677,-0.001681,-0.051032,-0.045809,0.001892,NaN,NaN,NaN,-0.000077,-0.002011,-0.000154,0.076011,0.023096,-0.003991,35998.0,0.056218,2.352687,NaN,-0.386901,-0.526310,-0.775742,1.0,1.0,2.0,1.0,1.0,NaN,-0.003991,77.053742,0.0,2.160913,14.113237,160.036423,34.337631,67.735367,NaN,1.127843,0.360108,0.335599
2014-01-01 00:30:00,0.342903,0.140285,0.005036,0.181497,NaN,0.001868,0.108060,-0.080000,-0.001734,0.011458,-0.013432,-0.006472,-0.000621,NaN,NaN,NaN,0.000237,0.001537,0.000320,-0.002267,0.004944,0.000030,35998.0,0.107649,NaN,NaN,NaN,0.024655,0.039305,1.0,2.0,2.0,2.0,2.0,NaN,NaN,97.379654,0.0,0.216710,20.769394,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Create the Eddy EntryGroup

`entry = api.find_entry(as_result=True)` -> returns empty objects (`entry.get('title')`, `entry.to_dict()`)

In [54]:
entry = api.find_entry(session, title='Fendt dataset: air pressure', as_result=True)[0]
print(entry.get('title'))
print(entry.to_dict())

None
{}

In [55]:
entries = api.find_entry(session, title='Fendt dataset:*', include_partial=True)
group = api.find_group(session, title='Fendt dataset: Eddy covariance data')

if UPLOAD and not group:
    group = api.add_group(session, 'Project', entry_ids=[e.id for e in entries],
                          title='Fendt dataset: Eddy covariance data',
                          description='The Fendt dataset contains eddy covariance data. The eddy data entry is partial, other entries can be exported as stand-alone data sets of different environmental variables.'
                         )

print(group)

Project Fendt dataset: Eddy  <ID=1>

In [56]:
for e in group.entries:
    print(e.title)

Fendt dataset: 3-dimensional windspeed
Fendt dataset: wind direction
Fendt dataset: air temperature
Fendt dataset: absolute humidity
Fendt dataset: carbon dioxide
Fendt dataset: air pressure
Fendt dataset: Eddy data